.perfilfeed{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.formulariopost, .formulariocomentario{
    background-color: #F4FFF7;
    padding: 2%;
}

.postslista, .comentarioslista{
    list-style-type: none;
    padding: 0;
}

.linkperfil{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.linkperfil:hover{
    text-decoration: underline;
    color: rgb(145, 203, 145);
}

/*Estilização dos posts*/

.formulariopost{
    margin-bottom: 3%;
}

.criarpost{
    margin-top: 2%;
}

.criarpost:hover{
    background-color: rgb(105, 240, 59) !important;
    color: black;
    border: 1px solid rgb(105, 240, 59) !important;
}

.post{
    background-color: #F4FFF7 !important;
    margin-bottom: 1%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.excluirpost{
    width: 20px;
}

.conteudopost{
    min-width: 60%;
    max-width: 100%;
}

.textopost{
    font-size: 1.2rem;
}

.imagempost img{
    max-width: 500px;
}

.imagempost{
    text-align: center;
}

/*Estilização dos comentários*/

.formulariocomentario{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.comentarioslista{
    padding: 2%;
    background-color: #F4FFF7;
}

#comment{
    flex-grow: 1;
    width: 200% !important;
}

.groupcomentario {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.comentario{
    border: none !important;
    padding-bottom: 1%;
}

.comentarioimagem{
    max-width: 200px;
}

.inputfile{
    display: none;
}

.selecionarimagem{
    width: 20%;
    margin: 10px;
}

.comentarioslista{
    max-height: 80vh;
    overflow-y: auto;
}

/* Works on Chrome, Edge, and Safari */
/* largura da barra de rolagem */
.comentarioslista::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
  
/* customizar a barrinha da barra de rolagem */
.comentarioslista::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 20px;
}