.formulariopost, .formulariocomentario{
    background-color: #F4FFF7;
    padding: 5%;
    border-radius: 2%;
    margin-bottom: 3%;
}

.criarpost, .form-control-file, .comentarpost{
    margin-top: 2%;
}

.criarpost:hover{
    background-color: rgb(105, 240, 59) !important;
    color: black;
    border: 1px solid rgb(105, 240, 59) !important;
}

.postslista, .comentarioslista{
    list-style-type: none;
    padding: 0;
}

.conteupost{
    min-width: 60%;
    max-width: 100%;
}

.imagempost img{
    max-width: 500px;
}

.imagempost{
    text-align: center;
}

.excluirpost{
    width: 20px;
}

.post, .comentario{
    background-color: #F4FFF7 !important;
    margin-bottom: 1%;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comentario{
    border: none !important;
}

.comentarioslista{
    padding: 0 3% 0 3%;
}

.comentarioitem{
    margin-top: 2%;
}

.comentarioimagem{
    max-width: 200px;
}

.perfilfeed{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.textopost{
    font-size: 1.2rem;
}