body{
    font-family: 'Montserrat';
}

.container-fluid{
    background-image: url('https://images8.alphacoders.com/101/1015192.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header a{
    color: white;
    position: fixed;
    top: 0;
}

.navbar-brand{
    font-weight: bold;
}