body{
    font-family: 'Montserrat';
}

.container-fluid{
    background-image:  url('../images/register_background_old.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header a{
    color: white;
    position: fixed;
    top: 0;
}

.navbar-brand{
    font-weight: bold;
}