/* Reset de margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Adicione este CSS no seu arquivo inicio.css */

/* Estilo do contêiner principal */
.container-fluid {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* Estilo dos posts */
.post-list {
    list-style-type: none;
    padding: 0;
}

.post-item {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; /* Adicione flex-wrap para que os comentários fiquem abaixo dos posts */
}

.post-container {
    flex: 1;
    min-width: 60%; /* Defina um tamanho mínimo para os posts */
    border-bottom: 1px solid #ccc; /* Adicione uma borda inferior */
        padding-bottom: 10px; /* Adicione espaço entre o texto e a borda inferior */
}

.post-header {
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 10px;
    
}

.post-image {
    max-width: 100%;
    height: auto;
    
}

/* Estilo dos comentários */
.comment-box {
    flex: 1;
    min-width: 40%; /* Defina um tamanho mínimo para a caixa de comentários */
    padding-left: 20px;
    border-left: 1px solid #ccc;
    overflow-y: auto; /* Adicione uma barra de rolagem vertical para os comentários */
    max-height: 400px;
    
}

/* Estilo dos itens da lista de comentários */
.comment-item {
    margin-bottom: 30px; /* Adicione espaço entre os comentários */
    border-bottom: 1px solid #ccc; /* Adicione uma borda inferior */
        padding-bottom: 10px; /* Adicione espaço entre o texto e a borda inferior */
}