.container-fluid{
    height: 100vh;
    padding: 5%;
}

.login{
    padding: 7% 10% 0 7%;
}

.titulologin{
    font-size: 4rem;
    color: #5e17eb;
    text-shadow: 2px 2px 4px white;
    font-weight: 1000;
    font-style: italic;
}

.paragrafologin{
    color: white;
    font-size: 1.5rem;
}

form{
    background-color: rgb(244, 255, 247, 0.5);
    padding: 10%;
}

.formlogin label{
    font-weight: bold;
    color:#5e17eb;
    font-size: 1rem;
    margin-top: 5%;
}

.formlogin input{
    border-radius: 30px;
}

.formlogin .btn{
    background-color: #5e17eb;
    color: white;
    align-items: center;
    width: 100%;
}

.formlogin .btn:hover{
    background-color: #d2bbff;
}

.formlogin p{
    text-align: center;
    font-size: 0.8rem;
    color: #5e17eb;
}

.formlogin .registerlogin{
    margin-top: 5%;
    margin-bottom: 0;
    color: #5e17eb;
}

.formlogin a{
    color: #5e17eb;
    font-size: 0.8rem;
}

.formlogin a:hover{
    font-size: 1rem;
}