.container-fluid{
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/10055945-vector-landscape-with-fog-of-green-mountain-eps-file-gratis-vetor.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    padding-top: 7%;
}

.login{
    padding: 7%;
}

.titulologin{
    font-size: 4rem;
    color: #204028;
    text-shadow: 2px 2px 4px white;
    font-weight: 1000;
    font-style: italic;
}

.paragrafologin{
    color: white;
    font-size: 1.5rem;
}

form{
    background-color: rgb(244, 255, 247, 0.5);
    padding: 10%;
}

.formlogin label{
    font-weight: bold;
    color:#204028;
    font-size: 1rem;
    margin-top: 5%;
}

.formlogin input{
    border-radius: 30px;
}

.formlogin .btn{
    background-color: #204028;
    color: white;
    align-items: center;
    width: 100%;
}

.formlogin .btn:hover{
    background-color: rgb(105, 240, 59);
}

.formlogin p{
    text-align: center;
    font-size: 0.8rem;
}

.formlogin .registerlogin{
    margin-top: 5%;
    margin-bottom: 0;
}

.formlogin a{
    color: #204028;
    font-size: 0.8rem;
}

.formlogin a:hover{
    font-size: 1rem;
}