/* Estilo dos detalhes do perfil */
.profilepicture {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.profileimage {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.profileinfo {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.userdetails{
    margin-left: 2%;
}

.info{
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0;
}

.seminfo{
    margin: 0;
    font-size: 1rem;
    color: gray;
    font-style: italic;
}

.quantidade:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Estilização do feed */
.perfilfeed {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.formulariopost
.formulariocomentario {
    background-color: #f4fff7;
    padding: 2%;
}

.postslista {
    list-style-type: none;
    padding: 0;
    overflow-y: hidden; /* Adiciona esta linha para ocultar o scroll dentro do post */
    max-height: 80vh; /* Adicione esta linha para limitar a altura da lista de posts */
}

.linkperfil {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.linkperfil:hover,
.listamodal a:hover {
    text-decoration: underline;
    color: rgb(145, 203, 145);
}

/* Estilização dos posts */
.formulariopost {
    margin-bottom: 3%;
}

.criarpost {
    margin-top: 2%;
}

.criarpost:hover {
    background-color: rgb(105, 240, 59) !important;
    color: black;
    border: 1px solid rgb(105, 240, 59) !important;
}

.post {
    background-color: #f4fff7 !important;
    margin-bottom: 1%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.excluirpost {
    width: 20px;
}

.conteudopost {
    min-width: 60%;
    max-width: 100%;
}

.textopost {
    font-size: 1.1rem;
}

.imagempost img {
    max-width: 500px;
}

.imagempost {
    text-align: center;
}

/* Estilização dos comentários */
.formulariocomentario {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.comentarioslista {
    padding: 2%;
    background-color: #f4fff7;
}

#comment {
    flex-grow: 1;
    width: 200% !important;
}

.groupcomentario {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.textocomentario {
    word-wrap: break-word;
    max-width: 100%;
}

.comentario {
    border: none !important;
    padding-bottom: 1%;
}

.comentarioimagem {
    max-width: 200px;
}

.inputfile {
    display: none;
}

.selecionarimagem {
    width: 20%;
    margin: 10px;
}

.comentarioslista {
    max-height: 80vh;
    overflow-y: auto;
}

/* Works on Chrome, Edge, and Safari */
/* largura da barra de rolagem */
.comentarioslista::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* customizar a barrinha da barra de rolagem */
.comentarioslista::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 20px;
}

.listamodal a {
    color: black;
    text-decoration: none;
}

/* Estilização do contêiner de posts */
#postsContainer {
    max-height: 80vh; /* Limita a altura do contêiner de posts */
    overflow-y: auto; /* Adiciona uma barra de rolagem quando necessário */
}

/* Personalização da barra de rolagem */
#postsContainer::-webkit-scrollbar {
    width: 7px; /* Largura da barra de rolagem */
    height: 7px;
}

#postsContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Torna o polegar (a parte da barra de rolagem que o usuário move) transparente */
}
