/* CADASTRO - REGISTER.BLADE.PHP */
.container-fluid{
    background-image:  url('../images/register_background3.png');
}

.landingpage, .formregister .btn{
    color: white;
}

.landingpage{
    min-height: 100vh;
    text-align: center;
}

.titulolanding{
    font-size: 4rem;
    text-shadow: 2px 2px 4px #5e17eb;
    font-weight: 1000;
    /* padding: 15% 15% 10% 15%; */
    font-style: italic;
}

.paragrafolanding{
    color: white;
    text-align: center;
}

.iconelanding{
    animation: pulsar 1s infinite alternate;
    width: 2rem;
    margin-bottom: 3%;
}

@keyframes pulsar {
    0%{
        transform: scale(.8);
    }

    100%{
        transform: scale(1.2);
    }
}

.formregister{
    background-color: rgb(244, 255, 247, 0.5);
    padding: 10%;
}

.formregister label{
    font-weight: bold;
    color:#5e17eb;
}

.formregister input{
    border-radius: 30px;
    margin-bottom: 5%;
}

.formregister .btn{
    background-color: #5e17eb;
    align-items: center;
    width: 100%;
}

.formregister .btn:hover{
    background-color: #d2bbff;
}

.formregister p{
    text-align: center;
    font-size: 0.8rem;
}

.formregister .loginlanding{
    margin-top: 5%;
    margin-bottom: 0;
}

.formregister .loginlanding a{
    color: #5e17eb;
}

.formregister .loginlanding a:hover{
    font-size: 1rem;
}