body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.container-fluid{
    background-image: url('../images/background_sat_med.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.nav{
    top: 15%;
    position: fixed;
}
  
.nav-link {
    color: black !important;
    font-weight: bold !important;
}
  
.nav-link:hover{
    color: #5e17eb !important;
    text-decoration: underline;
}
  
.nav-link img{
    width: 20px;
}

.navbar-brand{
    font-weight: bold;
}

.formulariopesquisar{
    display: flex;
}

.botaopesquisar{
    width: 15px;
}
  
.fotoperfil{
    border-radius: 50%;
    height: 20px;
    object-fit: cover;
}

textarea{
    resize: none !important;
}
  
/* Works on Chrome, Edge, and Safari */
/* largura da barra de rolagem */
body::-webkit-scrollbar {
    width: 12px;
}
 
/* background da barra de rolagem */
body::-webkit-scrollbar-track {
    background-color: #F4FFF7;
}
  
/* customizar a barrinha da barra de rolagem */
body::-webkit-scrollbar-thumb {
    background-color: #d2bbff;
    border-radius: 20px;
}

button.btn.btn-success {
    border-color: #5e17eb;
    background-color: #5e17eb;
}

button.btn.btn-outline-success {
    border-color: #5e17eb;
    color: #5e17eb;
    --bs-btn-hover-bg: #d2bbff;
}

img.selecionarimagem {
    width: 30px;
}